<h1>My tasks</h1>
<!-- Display the tasks list, @tasks is an array from the controller.-->
<ul style="list-style: none;" >
  <% @tasks.each do|task| %>
    <li >
      <%= task.completed ? "✅" : "❌" %> <%= link_to task.title, task_path(task.id) %>
    </li>
  <% end %>
</ul>
<button style="text-decoration: none"><%= link_to "Create a new task", tasks_new_path %></button>
